
  <div class="main-content" >
    <div class="container-fluid">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <div class="row">
          <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Prijavi se</h4>            
                    </div>
                    <div class="card-body">
                        <form #formcontrol="ngForm">
                            <div class="row">
                              <div class="col-md-2"></div>
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                      <input  matInput placeholder="Korisničko ime" name="username" [(ngModel)]="username" type="text" required>
                                    </mat-form-field>
                                </div>              
                            </div>
                            <div class="row">
                              <div class="col-md-2"></div>
                              <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input  matInput placeholder="Lozinka" type="password" name="password" [(ngModel)]="password" required>
                                </mat-form-field>
                            </div>
                            
                            </div>
                            
                            <button mat-raised-button type="submit" (click)=checkLogin() class="btn btn-danger pull-right" [disabled]="!formcontrol.form.valid">Prijava</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  