<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Artikl</h4>
                        <p class="card-category">Dodaj novi artikl</p>
                    </div>
                    <div class="card-body">
                        <form #formcontrol="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input [(ngModel)] = "idArtikla" matInput placeholder="ID" name="id_artikla" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input [(ngModel)] = "broj" matInput placeholder="Broj" name="broj_artikla" type="number" required>
                                    </mat-form-field>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)] = "naziv" matInput placeholder="Naziv" type="text" name="naziv_artikla" required>
                                  </mat-form-field>
                                </div>
                            </div>
                            
                            
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)] = "jed_mjere" matInput placeholder="Jedinica mjere" type="text" name="jed_mjere_artikla" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)] = "porez" matInput placeholder="Porez" type="text" name="porez_artikla" type="number" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)] = "cijena" matInput placeholder="Cijena" type="text" name="cijena_artikla" type="number" required>
                                  </mat-form-field>
                                </div>
                            </div>
                            
                            <button mat-raised-button type="submit"  (click)="spremiPromjene()" class="btn btn-primary pull-right" [disabled]="!formcontrol.form.valid">Spremi</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  