<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Broj artikala</p>
                      <h3 class="card-title"  >
                        {{brojArtikala}}
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">people</i>
                      </div>
                      <p class="card-category">Broj korisnika</p>
                      <h3 class="card-title">{{brojKorisnika}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">contacts</i>
                      </div>
                      <p class="card-category">Broj partnera</p>
                      <h3 class="card-title">{{brojPartnera}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                         
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">library_books</i>
                      </div>
                      <p class="card-category">Broj računa</p>
                      <h3 class="card-title">{{brojRacuna}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-primary">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Broj računa po vrsti</h4>
                    
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> 
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      
  </div>
</div>
