<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" (click)="preusmjeriNovi()" class="btn btn-primary pull-right" >Novi artikl</button>
                <br>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="Filter" matInput placeholder="Pretraživanje">                
                    </mat-form-field>                
                </div>     
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Artikli</h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th (click)="sort('id')">
                                        ID 
                                    </th>
                                    <th (click)="sort('broj')">
                                        Broj
                                    </th>
                                    <th (click)="sort('naziv')">
                                        Naziv
                                    </th>
                                    <th (click)="sort('jedinica_mjere')">
                                        Jedinica mjere
                                    </th>
                                    <th (click)="sort('porez')">
                                        Porez
                                    </th>
                                    <th (click)="sort('cijena')">
                                        Cijena
                                    </th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let e of Artikli | orderBy: key : reverse | filter:Filter | paginate: {itemsPerPage: 25, currentPage: p} ; let i=index">
                                        <td>
                                            {{e.id}}
                                        </td>
                                        <td>
                                            {{e.broj}}
                                        </td>
                                        <td>
                                            {{e.naziv}}
                                        </td>
                                        <td>
                                            {{e.jedinica_mjere}}
                                        </td>
                                        <td>
                                            {{e.porez}}
                                        </td>
                                        <td>
                                            {{e.cijena}}
                                        </td>
                                        <td>
                                            <button type="button" (click)="preusmjeriEdit(e.id)" class="btn btn-primary btn-round">Uredi</button>
                                        </td>
                                    </tr>                                
                                </tbody>
                                    <pagination-controls class="custum-pagination" (pageChange)="p= $event" previousLabel="Prethodna" nextLabel="Sljedeća"></pagination-controls>
                            </table>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
  </div>
  