<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Vrsta računa</h4>
                        <p class="card-category">Uredi podatke o vrsti računa</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-2">
                                  <mat-form-field class="example-full-width">
                                      <input [(ngModel)] = "idVrste" matInput placeholder="ID" name="id_vrste" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input [(ngModel)] = "naziv" matInput placeholder="Naziv" name="naziv_vrste" type="text" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input [(ngModel)] = "opis" matInput placeholder="Opis" type="text" name="opis_vrste">
                                    </mat-form-field>
                                  </div>
                                
                            </div>
                        
                            
                            <button mat-raised-button type="submit" (click)="spremiPromjene()" class="btn btn-danger pull-right" >Spremi promjene</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  </div>
  