<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button type="submit" (click)="preusmjeriNovi()" class="btn btn-info pull-right" >Novi račun</button>
                <br>
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <input [(ngModel)]="filter" matInput placeholder="Pretraživanje">                
                    </mat-form-field>                
                </div>     
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Računi</h4>
                        <p class="card-category"> </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <th (click)="sort('racunrc')">
                                        ID 
                                    </th>
                                    <th (click)="sort('datumrc')">
                                        Datum
                                    </th>
                                    <th (click)="sort('brojrc')">
                                        Broj
                                    </th>
                                    <th (click)="sort('napomenarc')">
                                        Napomena
                                    </th>
                                    <th (click)="sort('partnerrc')">
                                        Partner
                                    </th>
                                    <th (click)="sort('korisnikrc')">
                                        Korisnik
                                    </th>
                                    <th (click)="sort('vrstarc')">
                                        Vrsta
                                    </th>
                                    <th></th>
                                   
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let e of racuni | orderBy: key : reverse | filter:filter | paginate: {itemsPerPage: 25, currentPage: p} ; let i=index">
                                    <tr >
                                        <td>
                                           {{e.racunrc}}
                                        </td>
                                        <td>
                                            {{e.datumrc}}
                                        </td>
                                        <td>
                                            {{e.brojrc}}
                                        </td>
                                        <td>
                                            {{e.napomenarc}}
                                        </td>
                                        <td>
                                            {{e.partnerrc}}
                                        </td>
                                        <td>
                                            {{e.korisnikrc}}
                                        </td>
                                        <td>
                                            {{e.vrstarc}}
                                        </td>
                                        <th> 
                                            <button type="button" [disabled]="clicked1" (click)=" dohvatiStavke(e.racunrc); e.expanded = true; clicked1=true; clicked2=false;" class="btn btn-info btn-round">&#8595;</button>
                                            <button type="button" [disabled]="clicked2" clicked2=true; (click)=" e.expanded = false; clicked1=false; clicked2=true;" class="btn btn-info btn-round">&#8593;</button>
                                        </th>
                                        
                                    </tr>
                                    <ng-container *ngIf="e.expanded">
                                        <tr class=" text-info">
                                            <td>
                                                Naziv artikla
                                             </td>
                                             <td>
                                                Količina
                                             </td>
                                             <td>
                                                Cijena
                                             </td>
                                             <td>
                                                PDV
                                             </td>
                                             <td>
                                                Osnovica
                                             </td>
                                             <td>
                                                Ukupno
                                             </td>
                                         </tr>
                                        <tr *ngFor="let stavka of stavke">
                                            <td>
                                                {{stavka.naziv}}
                                            </td>
                                            <td>
                                                {{stavka.kolicina}}
                                            </td>
                                            <td>
                                                {{stavka.cijena}}
                                            </td>
                                            <td>
                                                {{stavka.pdv}}
                                            </td>
                                            <td>
                                                {{stavka.osnovica}}
                                            </td>
                                            <td>
                                                {{stavka.ukupno}}
                                            </td>
                                        </tr>
                                        <tr class=" text-info">
                                            <td>
                                                
                                             </td>
                                             <td>
                                                
                                             </td>
                                             <td>
                                                
                                             </td>
                                             <td>
                                                
                                             </td>
                                             <td>
                                                Iznos
                                             </td>
                                             <td>
                                                {{iznos}}
                                             </td>
                                        </tr>
                                        

                                    </ng-container>
                                </ng-container>
                                </tbody>
                                <pagination-controls class="custum-pagination" (pageChange)="p= $event" previousLabel="Prethodna" nextLabel="Sljedeća"></pagination-controls>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
  </div>
  